streamlit>=1.38
scikit-learn>=1.4
pillow>=10.0
numpy>=1.26
pandas>=2.0
scipy>=1.11
sentence-transformers>=2.2.2
torch>=2.2,<3
transformers>=4.40
matplotlib>=3.7
langdetect>=1.0.9
altair>=5.0
plotly>=5.22
streamlit-navigation-bar>=3.3.0
